<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<img class="rounded mx-auto d-block" width="250" src="https://www.pvpcraft.cz/image/logo_smaller.png">
<header>
    <div class="container-fluid" style="margin-top:16px">
        <div class="card shadow-sm" style="background-color:#e3f2fd;">
            <div class="card-body">
                Helpdesk (pouze pro oprávněné osoby)
            </div>
        </div>
    </div>
</header>
<div class="container-fluid" style="margin-top:16px">
    <div class="row">
        <div class="col-sm-10">
            <div class="card shadow-sm" style="padding:16px; margin-bottom: 16px; background-color: #f8d7da">
                <span class="text-muted">
                    Prosíme všechny helpery a oprávněné osoby, aby zde prováděli svojí práci a s údaji hráčů nakládali ohleduplně a na každý ticket reagovali jako na hráče,
                    nikoliv na kamaráda nebo nekamaráda, chceme aby se předešlo zbytečným sporům a jednalo se se všemi férově, všechny vaše akce jsou sledovány a máme přehled
                    o vašich činnostech zde na helpdesku, pokud si nebudete vědět rady, stačí kontaktovat někoho z vyšších pozic a řešení se jistě najde, pěkný den vám přeje
                    <b>Milánek</b>! :)
                </span>
            </div>
            <div class="card shadow-sm" style="padding:16px; margin-bottom: 16px">
                <span class="text-muted">
                    <h5>Vypadá to, že ještě nejsi přihlášen!</h5>
                </span>
                <form>
                    <div class="form-group">
                        <label for="nickname">Herní nickname</label>
                        <input type="text" class="form-control" id="nickname">
                    </div>
                    <div class="form-group">
                        <label for="heslo">Heslo</label>
                        <input type="password" class="form-control" id="heslo">
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Zkontrolujeme, zda-li patříš mezi oprávněné osoby</small>
                    <button type="submit" class="btn btn-outline-dark" style="margin-top:16px;">Přihlásit se</button>
                </form>
            </div>
            <div n:foreach="$flashes as $flash" n:class="'card shadow-sm' . $flash->type" style="padding:16px; margin-bottom: 16px; background-color: #f8d7da">
                <span class="text-muted">
                    {$flash->message}
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card shadow-sm" style="padding:16px; background-color: #ede7f6">
                <span class="text-muted">Nepřihlášen, 17:45</span>
            </div>
            <div class="card shadow-sm bg-light" style="padding:16px;margin-top:16px;">
                <span class="text-muted">Status: <b class="text-success">Online</b></span>
            </div>
            <style>
                .warning-hrefs * a {
                    color:#856404;
                }
            </style>
            <div class="card shadow-sm warning-hrefs" style="padding:16px;margin-top:16px;color:#856404;background-color:#fff3cd">
                <h5>Odkazy</h5>
                <ul>
                    <li><a href="">Hlavní web</a></li>
                    <li><a href="">Uživatelská část</a></li>
                    <li><a href="">Statistiky</a></li>
                    <li><a href="">Administrace</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>