<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4519WXFVK1"></script>
    <script n:if="$googleAnalytics->isEnabled()">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', {$googleAnalytics->getCode()});
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffeb3b">
    <meta name="description" content="{include description|trim}">
    <meta name="keywords" content="{include keywords|trim}">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Miloslav Turyna https://turyna.eu">
    <title>{include title|trim}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/css/web.css">
</head>
<style>
    .header-image {
        background-image: url('{$basePath}/img/banner.png');
    }
</style>
<body class="bg-white">
<div class="navbar shadow-lg top-ip w-100">
    <div class="row w-100">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10"><span class="text-dark text-uppercase f-w-500 js--typeWriter" style="padding: 16px">{$nastaveni->ip}</span></div>
        <div class="col-lg-1"></div>
    </div>
</div>
<header>
    <div class="shadow header-image">
        <div class="text-center d-block" style="padding: 75px;">
            <a href="/">
                <img src="{$basePath}/img/logo.png" class="logo">
            </a>
        </div>
    </div>
</header>
<div class="row border-top h-auto">
    <div class="col-lg-1 p-0 z-index-minus"></div>
    <div class="col-lg-10 bg-white border-left border-right container-wrp">
        <div class="row">
            <div class="col-xl-9 p-0">
                <nav class="navbar navbar-expand-xl navbar-light bg-light border-bottom padding-walls">
                    <button style="margin-left: 16px" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Otevřít navigaci webu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li n:class="'nav-item', $presenter->isLinkCurrent('Page:home') ? 'active' : ''">
                                <a class="nav-link" n:href="Page:home">Úvod</a>
                            </li>
                            {foreach $stranky as $stranka}
                                <li n:class="'nav-item', $presenter->isLinkCurrent('Page:page', $stranka->url) ? 'active' : ''">
                                    <a class="nav-link" n:href="Page:page $stranka->url">{$stranka->name}</a>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                </nav>
                <div class="padding-walls-15">
                    {ifset #breadcumb}
                        <div style="padding: 16px 16px 8px;">
                            {include breadcumb}
                        </div>
                    {/ifset}
                    <main>
                        {include content}
                    </main>
                </div>
            </div>
            <div class="col-xl-3 bg-light border-left shadow-sm border-top" style="padding-top: 16px;">
                <aside>
                    <div style="padding:24px; background: #dcedc8" class="border">
                        <h3 class="font-weight-normal">
                            <i class="fa fa-globe"></i> STATUS
                        </h3>
                        {if !$nastaveni->udrzba && isset($status->online) && $status->online}
                            Na serveru {$sklonovani($status->players->online, ["je", "jsou", "je"])}
                            momentálně {$status ? $status->players->online . ' ' . $sklonovani($status->players->online, ['hráč', 'hráči', 'hráčů']) : '*neznámo* hráčů'}!
                            Připoj se i ty na <strong>{$nastaveni->ip}</strong>
                        {else}
                            {if $nastaveni->udrzba}Na serveru momentálně probíhá údržba.{/if}
                            {if isset($status->online) && !$status->online}Server je momentálně vypnutý{/if}
                            {if !isset($status->online)}Status se nepodařilo načíst!{/if}
                        {/if}
                    </div>
                    {$widget|noescape}
                    <p class="text-muted small text-center">
                        Developed by <a href="https://turyna.eu" target="_blank" class="extern-href">Miloslav Turyna</a> in PHP (Nette)
                    </p>
                </aside>
            </div>
        </div>
    </div>
    <div class="col-lg-1 bg-white z-index-minus">
    </div>
</div>
<script>
    /**
     * Snippet from my effects library
     */
    [...document.getElementsByClassName("js--typeWriter")].forEach(function (element) {
        let splitText = element.innerText.split('');
        let intervalTimeout = element.dataset["typewriterTimeout"] || 50;
        let counter = 0;
        let interval;

        element.innerHTML = '';

        interval = setInterval(() => {
            if(counter === splitText.length) {
                clearInterval(interval);
                return;
            }

            element.innerHTML += splitText[counter];
            counter++;
        }, intervalTimeout);
    });
</script>
</body>
</html>