<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{include description|trim}">
	<meta name="keywords" content="{include keywords|trim}">
	<meta name="author" content="Milan Turyna https://turyna.eu">
	<link rel="shortcut icon" href="{$basePath}/favicon.png">
	<title>{include title|trim}</title>
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="{$basePath}/css/classic.css" rel="stylesheet">
</head>
<body>
<noscript>
	<style>
		*[data-aos] {
			display: block !important;
			opacity: 1 !important;
			visibility: visible !important;
		}
	</style>
</noscript>
<noscript>
	<b>Web bez zapnutého javascriptu nebude fungovat správně!</b>
</noscript>
<div class="d-flex" id="wrapper">
	<div class="" style="background: #111" id="sidebar-wrapper">
		<h1 class="sidebar-heading text-warning">
			<a n:href="Page:home">
				<img draggable="false" width="200" class="not-drag center-img" onmousedown="return false" src="https://test.turyna.eu/img/logo.png" alt="logo">
			</a>
		</h1>
		<div class="list-group list-group-flush navbar-list" data-aos-delay="150" data-aos="fade-right" data-aos-duration="1000">
			<a style="color: rgba(255,255,255,0.75)"
					n:class="'list-group-item list-group-item-action', $presenter->isLinkCurrent('Page:home') ? active : 'bg-transparent'"
					n:href="Page:home">Úvod</a>
			{foreach $stranky as $stranka}
					<a style="color: rgba(255,255,255,0.75)"
							n:class="'list-group-item list-group-item-action', $presenter->isLinkCurrent('Page:page', $stranka->url) ? active : 'bg-transparent'"
							n:href="Page:page $stranka->url">
						{$stranka->name}
					</a>
			{/foreach}
			<a style="color: rgba(255,255,255,0.75)"
					n:class="'list-group-item list-group-item-action', $presenter->isLinkCurrent('Page:archiv') ? active : 'bg-transparent'"
					n:href="Page:archiv">Archiv novinek</a>
		</div>
		<div class="list-group list-group-flush navbar-list" data-aos-delay="350" data-aos="fade-right" data-aos-duration="1000">
			<a n:href=":Stats:Main:app" target="_blank" class="list-group-item list-group-item-action text-warning bg-transparent">Statistiky</a>
			<a n:href=":Panel:Login:main" target="_blank" class="list-group-item list-group-item-action bg-transparent" style="color:#52B869">Hráčský panel</a>
		</div>
		<p class="small text-muted text-center"  data-aos-delay="350" data-aos="fade-up" data-aos-duration="1000" style="margin-top:8px">Developed by <a href="https://turyna.eu" target="_blank" class="text-info">Milan Turyna</a></p>
	</div>
	<div id="page-content-wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
			<span class="navbar-toggler-icon float-left d-block" id="menu-toggle" style="cursor:pointer; font-size: 20px"> </span>
		</nav>
		<div class="container-fluid" style="background-color: #fff3e0; margin-top:0">
			<div class="row" style="padding-bottom: 64px; padding-top:16px">
				<div class="col-lg-9">
					{include content}
				</div>
				<div class="col-lg-3">
					{if !$nastaveni->udrzba && isset($status->online) && $status->online}
						<div class="alert shadow text-white" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400" style="background-color: #4f7546" role="alert">
							<b>Status:</b> Online (bez problémů)
						</div>
					{else}
						<div class="alert shadow text-white" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400" style="background-color:#b35340" role="alert">
							{if $nastaveni->udrzba}Status: údržba{/if}
							{if isset($status->online) && !$status->online}Server je momentálně vypnutý{/if}
							{if !isset($status->online)}Status se nepodařilo načíst :({/if}
						</div>
					{/if}
					{$widget->code|noescape}
					<div class="bg-dark shadow text-muted" data-aos-delay="350" data-aos="fade-left" data-aos-duration="1000" style="border-radius: 5px">
						<p class="small text-muted text-center" style="padding: 4px">
							<a n:href=":Front:Login:main" class="text-light">Administrace</a> /
							<a n:href=":HelpDesk:Login:main" class="text-light">Helpdesk</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init({
		once: true
	});

	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
	});
</script>
</body>
</html>
