parameters:


application:
	errorPresenter: Error
	catchExceptions: false
	mapping:
		Error: App\Presenters\*Presenter
		*: App\Presenters\*Module\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserRepository
	- App\Model\ArticleRepository
	- App\Model\CategoryRepository
	- App\Model\PageRepository
	- App\Model\SettingsRepository
	- App\Model\UserManager
	- App\Model\Security\Auth\Authenticator
	- App\Model\Security\Auth\PluginAuthenticator
	- App\Model\Panel\MojangRepository
	- App\Model\Panel\Core\TicketRepository
	- App\Model\Panel\AuthMeRepository(@database.authme.context)
	- App\Model\API\Plugin\TokenManager(@database.tokenmanager.context)
	- App\Model\API\Plugin\Friends(@database.friends.context)
	- App\Model\API\Plugin\FastLogin(@database.fastlogin.context)
	- App\Model\Security\Auth\SupportAuthenticator
	- App\Model\Stats\CachedAPIRepository
	- App\Model\API\Plugin\Survival\EpicLevels(@database.epiclevels.context)
	- App\Model\API\Plugin\Survival\Lottery(@database.lottery.context)
	- App\Model\API\Plugin\LuckPerms(@database.luckperms.context)
	- App\Model\API\Plugin\Survival\RoyaleEconomy(@database.royaleeconomy.context)
	- App\Model\API\Plugin\LiteBans(@database.litebans.context)
	- App\Model\Stats\CachedSurvivalRepository
	- App\Model\API\Plugin\Deprecated\PlayerTime(@database.playertime.context)
	- App\Model\API\Plugin\Verus(@database.verus.context)
	router: App\Router\RouterFactory::createRouter
