parameters:
    seo:
        ogImageURL: ""
    cron:
        password: ""
    game_sections: [{
        name: ""
        description: ""
        link: ""
    }]
    api:
        expire_time:
    googleanalytics:
        enabled:
        code:
    tickets:
        emailSender:
        callback:
            discord:
                enabled:
                url:
                color:
                username:
                logo:
        subjects:
    czechcraft:
        server_slug: ""

database:
    default:
        dsn:
        user:
        password:
    authme:
        dsn:
        user:
        password:
    chatlog:
        dsn:
        user:
        password:
    bans:
        dsn:
        user:
        password:
    events:
        dsn:
        user:
        password:
    luckperms:
        dsn:
        user:
        password:
    playertime:
        dsn:
        user:
        password:
    senior_iconomy:
        dsn:
        user:
        password:
    classic_iconomy:
        dsn:
        user:
        password:
    spleefx:
        dsn:
        user:
        password:
    hideandseek:
        dsn:
        user:
        password:
    onlineplayers:
         dsn:
         user:
         password: