parameters:

database:
    default:
        dsn:
        user:
        password:
    authme:
        dsn:
        user:
        password:
    friends:
        dsn:
        user:
        password:
    fastlogin:
        dsn:
        user:
        password:
    tokenmanager:
        dsn:
        user:
        password:
    skinrestorer:
        dsn:
        user:
        password:
    luckperms:
        dsn:
        user:
        password:
    chatlog:
        dsn:
        user:
        password:
    bans:
        dsn:
        user:
        password:
    events:
        dsn:
        user:
        password:
    playertime:
        dsn:
        user:
        password: