home:
    breadcrumbTitle: "Domovská stránka"
    newsHeading: "AKTUALITY"
    metaKeywords: "domov, homepage, home, %web%, aktuality, minecraft, server"
    viewArchive: "ZOBRAZIT ARCHIV"
    viewSpecificList: 'ZOBRAZIT STARŠÍ <span class="text-white-50">(kolem %articles%)</span>'
    gamesHeading: "HERNÍ PRVKY"
    newsAtTime: "Aktuality ke dni"
login:
    title: "%web% | Přihlášení"
    heading: "Přihlásit se"
    description: "Pouze pro autorizované osoby"
archive:
     title: "%web% - Archiv článků"
     metaDescription: "Archiv článku na %web%"
     metaKeywords: "archiv, %web%, clanky, seznam, aktuality"
     breadcrumbTitle: "Archiv článků"
     heading: "ARCHIV ČLÁNKŮ"
articleView:
    edit: "Editovat (administrace)"
go:
    backList: "Články"
    backNews: "ZPĚT NA AKTUALITY"
flashMessages:
    articleNotFound: "Tento článek neexistuje!"
    pageNotFound: "Tato stránka nebyla nalezena!"
    successLogout: "Byl jsi odhlášen, pro další manipulaci s administrací se přihlaš!"
forms:
    panelLogin:
        cardHeader: "Hráčský panel (a tickety!)"
        cardText: "Nedávno jsme všem hráčům HeroCraftu prostřednictvím webového panelu umožnili kompletní správu nad svým herním profilem a možnost kontaktu na tým podpory díky novému ticket systému. <br><u>Ke vstupu se přihlaš stejnými údaji jako ve hře.</u>"
    login:
        name: "Jméno/email"
        password: "Heslo"
        submit: "Přihlásit se"