/** body & window settings */
html,body {
    min-height: 100%;
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*headings */
.header-h1 {font-size: calc( 2.2em + 3vmin );}
.header-h2 {font-size: calc(1em + 2vmin);}
.header-desc {font-size: calc(1em + 1vmin);}

/* colored texts */
.dark-blue-text {color:#1a237e}
.blue-glow {
    text-shadow: 0 0 11px rgba(78, 132, 174, 1);
    color: white;
}

/* layout and sections */
.section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.section-header {
    background-image: url('{$basePath}/img/web/background.png');
    min-height: 75vh;
    min-width: 100vw;
    animation: bg--Position 5s 1 forwards;
}

/*links*/
.extern-href {
    color: darkgreen;
    background-color: #eeeeee;
    transition: 0.3s;
}

.extern-href:hover, .extern-href:focus {
    border:0;
    outline: none;
    color: darkgreen;
    background-color: transparent;
    text-decoration: none;
}