@media screen and (min-width: 768px) {
    .border-right-yellow {
        border-right: 1px solid #ffc107!important
    }
}

@media screen and (max-width: 576px) {
    .padding-sm-top-none {
        padding-top:0!important;
    }
    .padding-sm-bot-none {
        padding-bottom: 0!important;
    }
    .padding-sm-none {
        padding:0!important;
    }
}


.padding-32 {padding: 32px;}
.padding-0 {padding:0;}

.margin-0-auto{margin:0 auto;}
.margin-top-8{margin-top:8px}
.margin-bot-8{margin-bottom:8px}

.border-bottom-yellow {border-bottom: 1px solid #ffc107!important;}

.user-select-none {user-select: none;}
.user-select-none::selection{background: transparent}

.bg-opacity-white {background-color:rgba(255,255,255,0.5);}
.bg-opacity-danger {background-color:rgba(179, 83, 64,0.75)}
.bg-opacity-green {background-color:rgba(79, 117, 70,0.75);}
.bg-opacity-blue {background-color:rgba(0, 225, 255, 0.1)}
.bg-error{background-color:#d6a5a5}

.brown-bg {background-color:rgba(54,35,18,0.75)}

.menu-opacity-button {background-color: rgba(255, 224, 247,0.5); transition: 0.3s}
.menu-opacity-button:hover, .menu-opacity-button:focus {background-color: rgba(255,244,247,1) !important; box-shadow: none}

.light-blue-button {background: #e7dfd5;transition: 0.3s;opacity:.75;}
.light-blue-button:hover, .light-blue-button:focus {opacity:1;box-shadow: none!important;}

.menu-opacity-input{background:rgba(0,0,0,0.3);}

.pink-color {color:rgba(255, 224, 247,0.99);}
.white-hover{transition: 0.5s}
.white-hover:hover{color:#fff!important;}

.yellow-placeholder::placeholder {color: rgba(255,255,255,0.5)}
.green-focus:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.font-30 {font-size:30px;}
.opacity-bg-warning {background-color: rgba(255, 193, 7, 0.3)}
.outline-none{outline: none}