{block title}
    {$page->name|trim}
{/block}
{block description}
    {$page->description}
{/block}
{block keywords}
    {$page->keywords}
{/block}
{block content}
    {$page->content|noescape}
{/block}

