<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistiky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="{$basePath}/css/stats.css" rel="stylesheet">
</head>
<noscript>
    <style>
        .body {
            display:none;
        }

    </style>
    <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<body>
<div class="container">
    <div class="d-block text-center" style="margin-top: 16px">
        <img draggable="false" width="200" onmousedown="return false" src="https://test.turyna.eu/img/logo.png" alt="logo">
    </div>
    <h1 class="font-weight-light text-warning text-center bg-dark"
        style="width: 60%; margin-bottom:0; color: rgba(0,0,0,0.7); font-family: 'Agency FB', serif;">
        STATISTIKY
    </h1>
    <hr style="margin-top:0; background-color: #eee">
    <div class="row"  style="margin-bottom: 32px">
        <div class="col-sm-12" id="app">
            <div class="border shadow-sm" style="padding: 16px; background-color: rgba(0,0,0,0.1)">
                <div id="search" n:syntax="off" data-aos="fade-left" data-aos-duration="1500">
                    <div style="background-color:rgba(255, 255, 255,0.3) !important; padding: 16px">
                        <h4 class="font-weight-normal text-dark">Vyhledat hráče podle nicku</h4>
                        <input type="text" v-model="button.player"  id="playerInput" maxlength="16" class="form-control green-focus" placeholder="např: DarkMilan">
                        <button type="button" class="btn w-100 btn-secondary" style="margin-top:16px; border-radius: 0;"
                                v-on:click="submitPlayer" :disabled="button.player ? false : true">
                            Zobrazit hráče {{button.player }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="font-weight-light text-warning text-center bg-dark" style="width: 60%; margin-bottom:0; color: rgba(0,0,0,0.7); font-family: 'Agency FB', serif;">
        NETWORK
    </h1>
    <hr color="#eee" style="margin-top:0;">
    <div class="row">
        <div class="col-sm-8">
            <div class="bg-warning shadow-sm" style="padding: 16px">
                <h3 class="font-weight-mini-bold">Czech-Craft</h3>
                <hr>
                <ul>
                    <li>Počet hlasů: <strong>{$votesCount}</strong></li>
                    <li>Hlasy za poslední měsíc: <strong>{$votesLastMonth}</strong></li>
                    <li>Top hlasujicí: <strong>{$topVoter->username}, zahlasoval {$topVoter->votes}</strong></li>
                    <li>Pořadí networku: <strong>{$czechCraftPosition}</strong></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="h-100 w-100 shadow-sm" style="padding: 16px; background-color: rgba(94, 252, 130,0.5); color: rgba(0,0,0,0.95)">
                <h3 class="font-weight-mini-bold">
                    Status
                </h3>
                <hr>
                <ul>
                    <li>
                        IP: <b>{$nastaveni->ip}</b>
                    </li>
                    <li>
                        Hráčů online: <strong>{if !$nastaveni->udrzba && isset($status->online) && $status->online}
                                {$status ? $status->players->online . ' ' . $sklonovani($status->players->online, ['hráč', 'hráči', 'hráčů']) : '*neznámo* hráčů'}
                            {else}
                                *neznámo*
                            {/if}</strong>
                    </li>
                    <li>
                        Dostupný: <strong>
                            {if !$nastaveni->udrzba && isset($status->online) && $status->online}
                                Ano
                            {else}
                                {if $nastaveni->udrzba}Na serveru momentálně probíhá údržba.{/if}
                                {if isset($status->online) && !$status->online}Server je momentálně vypnutý{/if}
                                {if !isset($status->online)}Status se nepodařiřlo načíst!{/if}
                            {/if}
                        </strong>
                    </li>
                    <li>Verze: <b>{if $status && isset($status->version)}{$status->version}{else}Neznámá{/if}</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="{$basePath}/js/stats/PlayerAPI.js"></script>
<script src="{$basePath}/js/stats/Application.js"></script>
</body>
</html>