<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="p-4">
    <span style="font-size: 150%" class="text-muted">{$webName} - export článku #{$articleId}</span>
    <hr style="color: #999;">
    <div class="bg-light p-4">
        <div style="zoom:90%">
            dd
        </div>
    </div>
</div>
</body>
</html>