.classic-shadow {
    -webkit-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
}

.opacity-dropdown {
    background: rgba(0, 0, 0, 0.1);
    transition:0.5s;
}

.li-underline * {
    text-decoration: underline;
}

.li-underline *:hover {
    text-decoration: none;
}

.opacity-dropdown:hover, .opacity-dropdown:focus {
    border-style: solid;
    border-width: 1px;
    box-shadow: none!important;
    border-color: rgba(0,0,0,0.2);
    background:rgba(255,255,255,0.1);
}

.default-margin-top {
    margin-top: 16px;
}

.default-margin-bot {
    margin-bottom: 16px;
}

ul {
    margin-top:5px;
    margin-bottom: 0!important;
}

.link-color, .red-href {
    color:#ba6b6c;
    transition:0.5s;
}

.webove-data * li {
    cursor:help;
}

.link-color:hover {
    background-color: rgba(0,0,0,0.1);
}


.aktivni {
    background-color:#ef9a9a!important;
}

.black-href {
    color:#000;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color:#000;
}

.black-href:hover {
    color:#000;
    text-decoration: none;
}

input[readonly] {
    cursor: default !important;
}

input[readonly]::selection {
    background: transparent;
}

.badge::selection {
    background: transparent;
}

.badge {
    user-select: none;
}

.form-control:focus {
    border-color: #ef9a9a;
    box-shadow: 0 0 0 0.2rem rgba(242, 199, 199,0.5);
}

.blue-form * .form-control:focus, .blue-form .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}