.default-margin-top {
    margin-top: 16px;
}

.default-margin-bot {
    margin-bottom: 16px;
}

.border-radius-0 {
    border-radius:0!important;
}


.dark-blue-btn {
    background:#01579b;
    color:#fff;
    transition:0.5s;
}

.dark-blue-border {
    border-color: #01579b;
    border-style: solid;
    border-width: 1px;
}


.classic-shadow {
    -webkit-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
}

.text-underline {
    text-decoration: underline;
}

.text-underline:hover {
    text-decoration: none;
}

.dark-text {
    color:#212529;
}

.badge-margin {
    margin-top:10px;
}

.hover-shadow {
    transition: box-shadow 0.5s ease-in-out;
}

img {
    user-select: none;
}

img::selection {
    background: transparent;
}

.hover-shadow:hover {
    -webkit-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
    box-shadow: 2px 6px 21px -10px rgba(0,0,0,0.57);
}

.accordion * {
    box-shadow: none!important;
    outline: none!important;
}

.list-game .card .card-body {
    padding:10px;
}

/*
Head Component
 */

#logo {
    width: 250px;
    transition:0.5s;
}

.navbar-toggler, .navbar-toggler * {
    border:0!important;
    outline:0!important;
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.uzivatelska-sekce {transition:0.5s;}
.uzivatelska-sekce:hover {opacity: .9;}

.header {
    padding: 0 !important;
    background-image: url('../img/banner_bg.png');
}

/* alerty */

.minecraft-alert, .alert-dark-green {
    color:#fff;
    background-color: #4f7546;
    border-radius:0;
}

.discord-alert {
    color:#fff;
    background-color:#7289DA;
    border-radius:0;
}

.facebook-alert {
    color:#fff;
    background:#4267B2;
    border-radius: 0;
}

@media only screen and (max-width: 375px) {
    .discord-alert img, .minecraft-alert img {
        display:none;
    }
}

.danger-alert, .alert-error {
    background-color: #b35340;
    color: #fff;
    border-radius: 0;
}

.table-center td, th {
    text-align: center;
}