body {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff3e0;
}

@media (min-width: 1500px) {
    .container {
        min-width: 1280px;
    }
}

.font-weight-minibold {
    font-weight: 400;
}

.opacity-btn {
    background-color: rgba(0,0,0,0.3);
    transition: 0.3s;
}

.opacity-btn {

}

.opacity-btn:focus {
    border: none!important;
}