@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* window */

html,body {
    min-height: 100%;
    max-width: 100vw !important;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* bootstrap & utils */
@media (min-width: 1450px) {
    .container-big {
        min-width: 1400px;
    }
}
button:focus {box-shadow: none!important;}
.float-left {float:left;}
.float-right {float: right;}
.href-underline {text-decoration: underline;}
.href-underline:hover {text-decoration: none;}
.list-group-href {transition: 0.3s;}
.list-group-href a {color:#000;}
.list-group-href a:hover  {
    background-color:#f0f1f2!important;
    color:#000;
    text-decoration: underline;
}
.dark-blue-text {color:#1a237e}
/**/

.heavy-icon {
    transition: 0.5s;
}

._2p3a {
    width: 100%;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid #dee2e6!important;
    background: #72b352;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}


#backToTop:hover {
    background-color:forestgreen;
    color:#000;
}

/** classic code*/

@keyframes mymove {
    50% {background-position: center;}
    100% {background-position: center}
}

@font-face {
    font-family: Squad;
    src: url("../fonts/squad.otf") format("opentype");
}

.header-h1 {
    font-size: calc(2.2em + 3vmin);
}

.header-h2 {
    font-size: calc(1em + 2vmin);
}

.header-desc {
    font-size: calc(1em + 1vmin);
}

.squad-font {
    font-family: Squad;
}

.font-marcellus {
    font-family: 'Marcellus', serif;
}

.font-abril {
    font-family: 'Abril Fatface', cursive;
}


.blue-glow {
    text-shadow: 0 0 11px rgba(78, 132, 174, 1);
    color: white;
}

.extern-href {
    color: darkgreen;
    background-color: #eeeeee;
    transition: 0.3s;
}

.extern-href:hover, .extern-href:focus {
    border:0;
    outline: none;
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
}

.section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.section-header {
    background-image: url('../img/web/background.png');
    min-height: 75vh;
    min-width: 100vw;
    animation: mymove 5s 1 forwards;
}

/**
buttons
 */

.button-heavy-blue {
    box-shadow: 0 10px 14px -7px #276873;
    background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    text-shadow:0 1px 0 #3d768a;
}

.button-heavy-blue:hover {
    background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.button-heavy-brown {
    box-shadow: 0 10px 14px -7px #b54b3a;
    background: #a73f2d linear-gradient(to bottom, #a73f2d 5%, #b34332 100%);
    text-shadow:0 1px 0 #7a2a1d;
}
.button-heavy-brown:hover {
    background: #b34332 linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
}
.button-heavy-green {
    box-shadow: 0 10px 14px -7px #3e7327;
    background: #77b55a linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    text-shadow:0 1px 0 #5b8a3c;
}
.button-heavy-green:hover {
    background: #72b352 linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
}
.heavy-button-yellow {
    box-shadow: 0 10px 14px -7px #fce2c1;
    background: #ffc477 linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    color:#ffffff;
    text-shadow:0 1px 0 #cc9f52;
}
.heavy-button-yellow:hover {
    background: #fb9e25 linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}

.heavy-button-white, .heavy-button-yellow, .button-heavy-green, .button-heavy-brown, .button-heavy-blue {
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    font-size:20px;
    color:#ffffff;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
}

.heavy-button-white {
    box-shadow: 0 10px 14px -7px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    color:#777777;
    text-shadow:0 1px 0 #ffffff;
}
.heavy-button-white:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.heavy-button-white:active, .heavy-button-yellow:active, .button-heavy-green:active, .button-heavy-brown:active, .button-heavy-blue:active {
    position:relative;
    top:1px;
}