<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{include title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" n:href=":WebLoader:HelpDesk:css">
    <script n:if="$googleAnalytics->isEnabled()">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', {$googleAnalytics->getCode()});
    </script>
</head>
<body>
<div class="navbar" style="background-color:#ef9a9a; color:#444;">
  <span class="navbar-text float-right">
      <a target="_blank" style="color:#000;" n:href=":Front:Page:home">Hlavní web (otevřít v nové kartě)</a>
  </span>
    <div class="dropdown float-right" id="nastaveni-uctu">
        <button class="btn dropdown-toggle opacity-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Nastavení účtu
        </button>
        <div class="dropdown-menu w-100 dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">{$helper->authUser->realname}</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" n:href="Main:logout">Odhlásit se</a>
        </div>
    </div>
</div>
<header class="jumbotron jumbotron-fluid text-white " style="background-color:#ba6b6c; margin-bottom:0;">
    <div class="container">
        <h1 class="display-4" style="font-size: 50px;">{_helpdesk.main.heading}</h1>
    </div>

</header>
<div class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
</div>
<div class="container-fluid wrapper" style="margin-top:16px;">
    <div class="row">
        <div class="col-md-12 default-margin-bot">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {include breadcrumb}
                </ol>
            </nav>
            {include content}
        </div>
    </div>
</div>
<script src="{$basePath}/js/jquery.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script>
    $(document).on('click', '.dropdown .dropdown-menu', function (e) {
        e.stopPropagation();
    });
</script>
</body>
</html>